haystack-ai~=2.20.0
chroma-haystack~=3.4.0
numpy<2
ollama-haystack~=5.3.0
amazon-bedrock-haystack~=5.2.0
openai~=2.9.0
google-genai-haystack~=2.3.0
mcp-haystack~=1.1.0
chardet~=5.2.0
sentence-transformers~=5.1.2
prompt_toolkit~=3.0.51
mcp[cli]~=1.23.1
httpx~=0.28.1
uv~=0.9.15
tldextract~=5.3.0
validators~=0.35.0
more-itertools~=10.8.0
requests~=2.32.4
beautifulsoup4~=4.14.2
aiofiles~=25.1.0
bitarray~=3.8.0
persist-queue~=1.1.0
mitmproxy~=12.2.1
lxml~=6.0.0
tinycss2~=1.4.0
json5~=0.12.0
html5lib~=1.1
optimum~=1.27.0
ddgs~=9.6.1
pycryptodome~=3.23.0
psutil~=7.1.2
guppy3~=3.1.5
einops~=0.8.1
